html,body{
  min-width:100%;
  max-width:100%;
  overflow-x: hidden;
}

/* .bg-diff{
  background: #e9efe1;
} */

/*Mobile CSS Below*/
@media only screen and (max-width: 480px) {
  .homepage_container{
    margin: 0;
    padding: 0;
  }
  .homepage_container > .row{
    padding-left: 10px;
    margin: 5px 0;
  }
  .parallax1,.parallax2{
    height: 400px;
  }
  .arrow-icon{
    width: 7%;
  }
}

/*Desktop CSS Below*/
@media only screen and (min-width: 480px) {
  .homepage_container {
    margin-top: 20px;
    z-index: 100;
    padding: 50px;
  }

  .hp-para-text {
    font-size: 20px;
  }

  #carouselExampleControls {
    z-index: -1;
  }
  .sponsors-card-img-hp {
    margin: 10px;
  }
  .card.vmcards{
    margin: 25px 80px;
  }
  .parallax1,.parallax2{
    height: 500px;
  }
}

.t-title{
  font-size: 20px;
  font-weight: 900;
}
/* General Regex */
/*
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* Our Creation CSS */
/*Mobile CSS Below*/
@media only screen and (max-width: 480px) {
  img.img-fluid.rounded-circle{
    /*width: 70px;
    height: 70px;*/
    margin: 8px auto;
  }
}

/*Desktop CSS Below*/
@media only screen and (min-width: 480px) {
  .list-group-item {
    padding: 5px 10px;
  }
  .timeline-label > p {
    padding: 10px;
  }
    
  .col-4.text-center > p{
    /* font-weight: bold;*/
    font-size : 15px;
    padding: 10px;
    min-height: 50px;
  }
  img.img-fluid.rounded-circle{
    /*width: 100px;
    height: 100px;*/
    margin: 10px auto;
  }
  
}


.timeline-label > p{
    /*font-family: helvetica,arial,sans-serif;*/
    font-size: 15px;
}


.timeline-label > img{
  width: 100%;
}

.bg-blue{
  background:#e3ebdb;
}

.parallax1 {
  /* The image used */
  background: url("../img/About/Screenshot\ 2023-01-24\ 191634.png");
  /* Set a specific height */

  opacity: 0.7;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background: url("../img/slides/slide\ \(4\).JPG");
  /* Set a specific height */

  opacity: 0.5;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}